
.timeAxis text, .freqAxis text,
.powerAxis text, .cohAxis text,
.powerSliceAxis text, .cohSliceAxis text,
.freqSliceAxis text
{
  font: 11px sans-serif;
  color: #777;
  font-weight: 400;
}
.timeAxis line, .freqAxis line,
.powerAxis line, .cohAxis line,
.powerSliceAxis line, .cohSliceAxis line,
.freqSliceAxis line,
.powerSliceAxis path, .cohSliceAxis path,
.freqSliceAxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.timeAxis path, .freqAxis path,
.powerAxis path, .cohAxis path {
  display: none;
}
.edge {
  stroke-opacity: .6;
}
.node {
  stroke: #ddd;
}
text.nodeLabel {
	font-family: sans-serif;
	font-size: 11px;
  text-anchor: middle;
  line-height: 100%;
  dominant-baseline: central;
}
label {
  width: 50%;
  float: left;
}
button {
  width: 50%;
}
input[type="range"] {
  width: 50%;
  float: right;
}
output {
  padding-top: 0px;
  width: 50%;
  float: left;
  text-align: center;
}
.subgroup {
  margin-bottom: 10px;
  display: block;
}
.top-buffer {
  margin-top: 50px;
}
