
.timeAxis text, .freqAxis text,
.powerAxis text, .cohAxis text,
.powerSliceAxis text, .cohSliceAxis text,
.freqSliceAxis text
{
  font: 11px sans-serif;
  color: #777;
  font-weight: 400;
}
.timeAxis line, .freqAxis line,
.powerAxis line, .cohAxis line,
.powerSliceAxis line, .cohSliceAxis line,
.freqSliceAxis line,
.powerSliceAxis path, .cohSliceAxis path,
.freqSliceAxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.timeAxis path, .freqAxis path,
.powerAxis path, .cohAxis path {
  display: none;
}
.edge {
  stroke: #999;
  stroke-opacity: .6;
}
.node {
  stroke: #ddd;
  stroke-opacity: .6;
}
text.nodeLabel {
	font-family: sans-serif;
	font-size: 11px;
  text-anchor: middle;
  line-height: 100%;
}
