
.timeAxis text, .freqAxis text,
.powerAxis text, .cohAxis text,
.powerSliceAxis text, .cohSliceAxis text,
.freqSliceAxis text
{
  font: 11px sans-serif;
  color: #777;
  font-weight: 400;
}
.timeAxis line, .freqAxis line,
.powerAxis line, .cohAxis line,
.powerSliceAxis line, .cohSliceAxis line,
.freqSliceAxis line,
.powerSliceAxis path, .cohSliceAxis path,
.freqSliceAxis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.timeAxis path, .freqAxis path,
.powerAxis path, .cohAxis path {
  display: none;
}
.edge {
  stroke: #999;
  stroke-opacity: .6;
}
.node {
  stroke: #ddd;
  stroke-opacity: .6;
}
#tooltip {
  position: absolute;
  text-align: left;
  display: block;
  padding: 10px;
  left: 200px;
	top: 200px;
  font: 11px sans-serif;
  background: white;

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #777;
  pointer-events: none;
  -moz-box-shadow:    3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow:         3px 3px 3px #888;
}
.nodeLabel {
	font-family: sans-serif;
	font-size: 11px;
  text-align: center;
  line-height: 100%;
}
