
.timeAxis text, .freqAxis text {
  font: 12px sans-serif;
}

.timeAxis line, .freqAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.timeAxis path, .freqAxis path {
  display: none;
}
