
.timeAxis text, .freqAxis text {
  font-size: 13px;
  stroke: #aaa;
}

.timeAxis line, .freqAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.timeAxis path, .freqAxis path {
  display: none;
}
